      <nav class="desktop">
        <div class="nav-links">
          <a href="/" class="nav-logo">
            <h1 class="heading">Necropolis <span class="offset">Nails</span></h1>
            <img class="logo" src="{{ absURL "images/logo.png" }}">
          </a>
          
          {{ range .Params.navlinks }}
          <a href="{{ .url }}" class="link">{{ .text }}</a>
          {{ end }}
        </div>
        <div class="nav-btn"><a href="{{ .Params.bookButton.url }}" class="white-btn button" target="_blank">{{ .Params.bookButton.text }}</a></div>
      </nav>

      <nav class="mobile">
        <div class="mbl nav-links">
          <a href="#" class="nav-logo">
            <h1 class="heading">Necropolis <span class="offset">Nails</span></h1>
            <img class="logo" src="{{ absURL "images/logo.png" }}">
          </a>
          
          <div class="links-left">
            <a href="#about" class="link">About</a>
            <a href="#gallery" class="link">Gallery</a>
          </div>
        </div>

        <a class="mbl-nav-btn" href="{{ .Params.bookButton.url }}" class="white-btn button" target="_blank">{{ .Params.bookButton.text }}</a>
      </nav>