<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../assets/images/logo.png"> <!-- Favicon -->
    <link href="../../static/admin/index.css" type="text/css" rel="stylesheet">
    <link href="../../static/admin/responsive.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{{ .title }}</title>
  </head>
  <body>
    <header>
      {{ partial "nav.html" . }}

      <div class="hero-img"></div>

      <section class="hero">
        <div class="hero-container">
          <div class="hero-left">
            <h2 class="heading">{{ .Params.hero }}</h2>
            <p>{{ .Params.heroBlurb }}</p>
            <div class="btn-group">
              <a class="white-btn button" href="{{ .Params.bookBtnLnk }}" target="_blank">{{ .Params.bookBtnTxt }}</a>
              <a class="g-btn button" href="{{ .Params.galleryBtnLnk }}">{{ .Params.galleryBtnTxt }}</a>
            </div>
          </div>

          <div class="hero-shape">
            <img src="{{ .Params.heroImg }}">
          </div>
        </div>
      </section>
    </header>

    <main>
      <section id="about">
        <aside>
          <h3 class="heading">Necropolis Nails</h3>
          <div class="contact">
            <a class="address" href="{{ .Params.addressURL }}" target="_blank">{{ .Params.address }}</a>
            <a class="phone" href="tel:+1 {{ .Params.phone }}"><i class="fa fa-phone" aria-hidden="true"></i>{{ .Params.phone }}</a>
            <p class="email"><i class="fa fa-envelope" aria-hidden="true"></i>{{ .Params.email }}</p>
          </div>
          
          <div class="hours">
            <ul>
              {{ range .Params.days }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
            <ul>
              {{ range .Params.hours }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
          <p>Appointments by booking only</p>
        </aside>

        
        <div class="about">
          <h3 class="heading">About Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          
          <div class="bullet-sections">
            <div class="services">
              <h4>Services Offered</h4>
              <div class="bullets">
                <ul>
                  <li class="g1"><i class="fa fa-circle" aria-hidden="true"></i>Manicures & Pedicures</li>
                  <li class="g2"><i class="fa fa-circle" aria-hidden="true"></i>Gel-X, Hard Gel & Acrylic</li>
                  <li class="g3"><i class="fa fa-circle" aria-hidden="true"></i>Design Tiers</li>
                  <li class="g4"><i class="fa fa-circle" aria-hidden="true"></i>Soak Off / Removal</li>
                  <li class="g5"><i class="fa fa-circle" aria-hidden="true"></i>Repairs</li>
                  <li class="g6"><i class="fa fa-circle" aria-hidden="true"></i>Free Consultation</li>
                </ul>
              </div>
            </div>

            <div class="accomdations">
              <h4>Accomodations</h4>
              <div class="bullets">
                <ul>
                  <li><i class="fa fa-circle" aria-hidden="true"></i>Mobility Aid User</li>
                  <li><i class="fa fa-circle" aria-hidden="true"></i>Quiet Appointment</li>
                </ul>
                <ul>
                  <li><i class="fa fa-circle" aria-hidden="true"></i>Hard of Hearing</li>
                  <li><i class="fa fa-circle" aria-hidden="true"></i>Sensitive to Light</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="gallery">
        <div class="gallery-wrapper">
          <div class="img img-1"></div>
          <div class="img img-2"></div>
          <div class="img img-3"></div>
          <div class="img img-4"></div>
          <div class="img img-5"></div>
          <div class="img img-6"></div>
          <div class="img img-7"></div>
          <div class="img img-8"></div>
        </div>
        
        <p>Follow on Instagram for more!</p>
        <a class="instagram" href="#" target="_blank"><img class="instagram-logo" src="../../assets/images/instagram.svg"></a>
      </section>
    </main>

    {{ partial "footer.html" . }}


    <!-- Include the script that builds the page and powers Netlify CMS -->
    <link rel="stylesheet" href="/admin/dark.css">
    <script src="https://unpkg.com/decap-cms@3.1.0-beta.5/dist/decap-cms.js"></script>
  </body>
</html>