      <nav class="desktop">
        <div class="nav-links">
          <a href="#" class="nav-logo">
            <h1 class="heading">Necropolis <span class="offset">Nails</span></h1>
            <img class="logo" src="../../assets/images/logo.png">
          </a>
          
          <a href="#about" class="link">About</a>
          <a href="#gallery" class="link">Gallery</a>
        </div>
        <div class="nav-btn"><a href="https://book.heygoldie.com/Necropolis-Nails/checkout" class="white-btn button" target="_blank">Book Appointment</a></div>
      </nav>

      <nav class="mobile">
        <div class="mbl nav-links">
          <a href="#" class="nav-logo">
            <h1 class="heading">Necropolis <span class="offset">Nails</span></h1>
            <img class="logo" src="../../assets/images/logo.png">
          </a>
          
          <div class="links-left">
            <a href="#about" class="link">About</a>
            <a href="#gallery" class="link">Gallery</a>
          </div>
        </div>

        <a class="mbl-nav-btn" href="https://book.heygoldie.com/Necropolis-Nails/checkout" target="_blank">Book Appointment</a>
      </nav>